# Реально импортируются только следующие библиотеки:
# aiogram
# gspread
# google-api-python-client
# oauth2client
# aiohttp
# gunicorn
# levenshtein
# yoyo-migrations
# uvloop
# orjson
# nats-py
aiogram==2.25.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
babel==2.17.0
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
frozenlist==1.7.0
google-api-core==2.25.1
google-api-python-client==2.181.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
gspread==6.2.1
gunicorn==23.0.0
httplib2==0.31.0
idna==3.10
importlib_metadata==8.7.0
Levenshtein==0.27.1
magic-filter==1.0.12
multidict==6.6.4
nats-py==2.11.0
oauth2client==4.1.3
oauthlib==3.3.1
orjson==3.11.3
packaging==25.0
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.32.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.2.4
RapidFuzz==3.14.1
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tabulate==0.9.0
uritemplate==4.2.0
urllib3==2.5.0
uvloop==0.21.0; platform_system != "Windows"
wheel==0.45.1
yarl==1.20.1
yoyo-migrations==9.0.0
zipp==3.23.0
mathsolvers @ git+https://github.com/ShashkovS/mathsolvers.git
# pip install --upgrade git+https://github.com/ShashkovS/mathsolvers.git