<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        Игра по математике для 5-7 класса 179-й школы
    </title>
    <style>
 article, body, center, div, form, header, html, p { border: 0 none; font: inherit; margin: 0; padding: 0; vertical-align: baseline; line-height: 1 }
 body { color: #000; font-family: Arial, Helvetica, Garuda, sans-serif; line-height: 1.5; background: none repeat scroll 0 0 #f0f0f0; border-collapse: separate; max-width: 132ex; min-width: 70ex; min-height: 101%; position: relative; margin: 0 auto }
 #header { background-color: #393939; background-image: linear-gradient(#494949, #292929); font-family: Arial, Helvetica, Garuda, sans-serif; height: 2.3em; line-height: 2.3em; margin: 0 0 1em 0; padding: 0; text-align: center; font-size: 150%; color: #fff; width: 100%; border-bottom-left-radius: 1em; border-bottom-right-radius: 1em; box-shadow: 2px 2px 1em .1em #888 }
 #content { box-sizing: border-box; width: 100%; clear: both; position: relative; border-top: 2px dashed transparent; border-bottom: 1px solid #a1a5a4; border-left: 1px solid #a1a5a4; border-right: 1px solid #a1a5a4; background: none repeat scroll 0 0 #d9e2df; margin-right: 2px; margin-top: -1px; padding: 0 5px }
 article { line-height: 1.5; font-family: Georgia, Helvetica, Garuda, sans-serif; font-size: 95%; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; background: none repeat scroll 0 0 #fff; border-color: #fff #abafae #abafae #fff; border-style: solid; border-width: 1px; margin: 10px 4px; padding: 10px 15px; position: relative; box-shadow: 5px 5px 5px 0 rgba(55, 110, 55, .6); }
 article p { margin-bottom: 1em; margin-top: 1em; text-align: justify; line-height: 1.5 }
 article:after { content: ''; display: block; clear: both }
 h1 { margin-top: 22px; margin-bottom: 15px }
 h2 { margin-top: 15px; margin-bottom: 7px }
 h3 { margin-top: 15px; margin-bottom: 7px }
 h4 { margin-top: 10px; margin-bottom: 5px }
</style>
</head>
<body>
<div id="header">
    Игра по математике для 5-7 класса 179-й школы
</div>
<div id="content">
    <article class="theory">
        Когда-то здесь будет игра
    </article>
</div>
</body>
</html>
